* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

 body {
     display:flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
  background-color: tan;
 }
h1 {
    color: brown;
}